@model TeacherPortal.Models.ChatDetailsViewModel

@{
    ViewData["Title"] = $"Chat Details";
}

<h2>@ViewData["Title"]</h2>

<div>

    @if (string.IsNullOrEmpty(Model.OnlyShowUser))
    {
        <h4>
            <span>
                Between @Model.Chat.Messages.Select(x => x.UserId).Distinct().ToList()[0] and @Model.Chat.Messages.Select(x => x.UserId).Distinct().ToList()[1]
            </span>
        </h4>
    }

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    User
                </th>
                <th>
                    Message
                </th>
                <th>
                    Sentiment
                </th>
                <th>
                    Key Phrases
                </th>
                <th>
                    Interesting Events
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Chat.Messages)
            {
                <tr>
                    <td>
                        @message.Time.ToShortTimeString()
                    </td>
                    <td>
                        @message.UserId
                    </td>
                    <td>
                        @message.Message
                    </td>
                    <td>
                        @string.Format("{0:0%}", message.Sentiment)
                    </td>
                    <td>
                        @message.KeyPhrases
                    </td>
                    <td>
                        @foreach (var alert in message.Alerts)
                        {
                            <span>@alert.AlertCategory </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.OnlyShowUser))
    {
        <a asp-controller="Chats" asp-action="Details" asp-route-id="@Model.Chat.Id" asp-route-onlyShowUser="" asp-route-hideParticipantNames="@Model.HideParticipantNames">All Messages</a><span>  |</span>
    }
    else
    {
        @foreach (var participant in Model.Chat.Participants)
        {
            <a asp-controller="Chats" asp-action="Details" asp-route-id="@Model.Chat.Id" asp-route-onlyShowUser="@participant" asp-route-hideParticipantNames="@Model.HideParticipantNames">Just @participant</a><span>  |</span>
        }
    }

    @if (Model.HideParticipantNames)
    {
        <a asp-controller="Chats" asp-action="Details" asp-route-id="@Model.Chat.Id" asp-route-onlyShowUser="@Model.OnlyShowUser" asp-route-hideParticipantNames="false">Reveal Names</a><span>  |</span>
    }
    else
    {
        <a asp-controller="Chats" asp-action="Details" asp-route-id="@Model.Chat.Id" asp-route-onlyShowUser="@Model.OnlyShowUser" asp-route-hideParticipantNames="true">Hide Names</a><span>  |</span>
    }

    <a asp-action="Index">All Chats</a><span>  |</span>

    <a asp-controller="Chats" asp-action="Delete" asp-route-id="@Model.Chat.Id">Delete</a>
</div>
