@model TeacherPortal.Models.ChatDetailsViewModel

@{
    ViewData["Title"] = $"Chat Details";
}

<h2>@ViewData["Title"]</h2>

<div>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    User
                </th>
                <th>
                    Message
                </th>
                <th>
                    Sentiment
                </th>
                <th>
                    Key Phrases
                </th>
                <th>
                    Interesting Events
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Chat.Messages)
            {
                <tr>
                    <td>
                        @message.Time.ToLongTimeString()
                    </td>
                    <td>
                        @message.UserId
                    </td>
                    <td>
                        @message.Message
                    </td>
                    <td>
                        @string.Format("{0:0%}", message.Sentiment)
                    </td>
                    <td>
                        @message.KeyPhrases
                    </td>
                    <td>
                        @foreach (var alert in message.Alerts)
                        {
                            <span>@alert.AlertCategory </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Filters</h4>
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            @foreach (var messageTime in Model.MessageTimes)
            {
                @if (Model.NewestMessageTimestamp.ToLongTimeString() == messageTime.ToLongTimeString())
                {
                    <li class="page-item active">
                        <a asp-controller="Chats"
                           asp-action="Details"
                           asp-route-id="@Model.Chat.Id"
                           asp-route-onlyShowUser="@Model.OnlyShowUser"
                           asp-route-hideParticipantNames="@Model.HideParticipantNames"
                           asp-route-newestMessageTimestamp="@messageTime.ToString()">@messageTime.ToLongTimeString()</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a asp-controller="Chats"
                           asp-action="Details"
                           asp-route-id="@Model.Chat.Id"
                           asp-route-onlyShowUser="@Model.OnlyShowUser"
                           asp-route-hideParticipantNames="@Model.HideParticipantNames"
                           asp-route-newestMessageTimestamp="@messageTime.ToString()">@messageTime.ToLongTimeString()</a>
                    </li>
                }
            }
            <li class="page-item">
                <a asp-controller="Chats"
                   asp-action="Details"
                   asp-route-id="@Model.Chat.Id"
                   asp-route-onlyShowUser="@Model.OnlyShowUser"
                   asp-route-hideParticipantNames="@Model.HideParticipantNames"
                   asp-route-newestMessageTimestamp="@DateTime.UtcNow">All</a>
            </li>
        </ul>
    </nav>
    @if (!string.IsNullOrEmpty(Model.OnlyShowUser))
    {
        <a asp-controller="Chats"
           asp-action="Details"
           asp-route-id="@Model.Chat.Id"
           asp-route-onlyShowUser=""
           asp-route-hideParticipantNames="@Model.HideParticipantNames"
           asp-route-newestMessageTimestamp="@Model.NewestMessageTimestamp"
           class="btn btn-default">Everyones Messages</a>
    }
    else
    {
        @foreach (var participant in Model.Chat.Participants)
        {
            <a asp-controller="Chats"
               asp-action="Details"
               asp-route-id="@Model.Chat.Id"
               asp-route-onlyShowUser="@participant"
               asp-route-hideParticipantNames="@Model.HideParticipantNames"
               asp-route-newestMessageTimestamp="@Model.NewestMessageTimestamp"
               class="btn btn-default"><span>Just </span>@participant</a>
        }
    }

    @if (Model.HideParticipantNames)
    {
        <a asp-controller="Chats"
           asp-action="Details"
           asp-route-id="@Model.Chat.Id"
           asp-route-onlyShowUser="@Model.OnlyShowUser"
           asp-route-hideParticipantNames="false"
           asp-route-newestMessageTimestamp="@Model.NewestMessageTimestamp"
           class="btn btn-default">Reveal Names</a>
    }
    else
    {
        <a asp-controller="Chats"
           asp-action="Details"
           asp-route-id="@Model.Chat.Id"
           asp-route-onlyShowUser="@Model.OnlyShowUser"
           asp-route-hideParticipantNames="true"
           asp-route-newestMessageTimestamp="@Model.NewestMessageTimestamp"
           class="btn btn-default">Hide Names</a>
    }
    <hr />
</div>
<div>
    <br />
    <a asp-action="Index">All Chats</a><span>  |</span>

    <a asp-controller="Chats" asp-action="Delete" asp-route-id="@Model.Chat.Id">Delete</a>
</div>
